@charset "UTF-8";

*{
	padding: 0;
	margin:0;
	
}
body{
	height: 100vh;
	background-color:  #96CEBA;
	display: flex;
	justify-content: center;
	align-items: center;
}
.un{
	position: relative;
	
}
input[type="text"]{
	border: none;
	width: 460px;
	height: 50px;
	padding:0 16px;
	
}
input[type="submit"]{
	position: absolute;
	width: 100px;
	height: 50px;
	background-color:teal;
	color: white;
	padding: 0 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	cursor: pointer;
}
submit:hover{
	transition: .8s;
	background-color: #6c6c6c;
}






